<p>Bonjour,</p>

<p>Voici un message de la part de {{ contact.nom }} reçu via le formualire de contact : </p>
<p>{{ contact.message }}</p>
<p>-------------------------------------</p>
<div> Ceci est un mail envoyé de manière automatique</div>