{% extends "::layout.html.twig" %}

{%  block contenu %}
<div id="tf-features">


    <div id="feature" class="gray-bg"> <!-- fullwidth gray background -->
        <div class="container"> <!-- container -->
            <div class="row" role="tabpanel"> <!-- row -->
                <div class="col-md-4 col-md-offset-1"> <!-- tab menu col 4 -->

                    <ul class="features nav nav-pills nav-stacked" role="tablist">
                        <li role="presentation" class="active">  <!-- feature tab menu #1 -->
                            <a href="#f1" aria-controls="f1" role="tab" data-toggle="tab">
                                <span class="fa fa-desktop"></span>
                                Internet Communication<br>
                                <small>sub title here</small>
                            </a>
                        </li>
                        <li role="presentation"> <!-- feature tab menu #2 -->
                            <a href="#f2" aria-controls="f2" role="tab" data-toggle="tab">
                                <span class="fa fa-pencil"></span>
                                Branding and Development<br>
                                <small>sub title here</small>
                            </a>
                        </li>
                        <li role="presentation"> <!-- feature tab menu #3 -->
                            <a href="#f3" aria-controls="f3" role="tab" data-toggle="tab">
                                <span class="fa fa-space-shuttle"></span>
                                Motion Graphics<br>
                                <small>sub title here</small>
                            </a>
                        </li>
                        <li role="presentation"> <!-- feature tab menu #4 -->
                            <a href="#f4" aria-controls="f4" role="tab" data-toggle="tab">
                                <span class="fa fa-automobile"></span>
                                Mobile Application<br>
                                <small>sub title here</small>
                            </a>
                        </li>
                        <li role="presentation"> <!-- feature tab menu #5 -->
                            <a href="#f5" aria-controls="f5" role="tab" data-toggle="tab">
                                <span class="fa fa-institution"></span>
                                Relaible Company Analysis<br>
                                <small>sub title here</small>
                            </a>
                        </li>
                    </ul>

                </div><!-- end tab menu col 4 -->

                <div class="col-md-6"> <!-- right content col 6 -->
                    <!-- Tab panes -->
                    <div class="tab-content features-content"> <!-- tab content wrapper -->
                        <div role="tabpanel" class="tab-pane fade in active" id="f1"> <!-- feature #1 content open -->
                            <h4>Internet Communication</h4>
                            <p>Vel donec et scelerisque vestibulum. Condimentum aliquam, mollit magna velit nec, tempor
                                cursus vitae sit aliquet neque purus. Ultrices lacus proin conubia dictum tempus, tempor
                                pede vitae faucibus, sem auctor, molestie diam dictum aliquam. Dolor leo, ridiculus est
                                ut cubilia nec, fermentum arcu praesent.</p>
                            <img src="img/tab01.png" class="img-responsive" alt="...">
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="f2"> <!-- feature #2 content -->
                            <h4>Branding and Development</h4>
                            <p>Vel donec et scelerisque vestibulum. Condimentum aliquam, mollit magna velit nec, tempor
                                cursus vitae sit aliquet neque purus. Ultrices lacus proin conubia dictum tempus, tempor
                                pede vitae faucibus, sem auctor, molestie diam dictum aliquam. Dolor leo, ridiculus est
                                ut cubilia nec, fermentum arcu praesent.</p>
                            <img src="img/tab02.png" class="img-responsive" alt="...">
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="f3"> <!-- feature #3 content -->
                            <h4>Motion Graphics</h4>
                            <p>Vel donec et scelerisque vestibulum. Condimentum aliquam, mollit magna velit nec, tempor
                                cursus vitae sit aliquet neque purus. Ultrices lacus proin conubia dictum tempus, tempor
                                pede vitae faucibus, sem auctor, molestie diam dictum aliquam. Dolor leo, ridiculus est
                                ut cubilia nec, fermentum arcu praesent.</p>
                            <img src="img/tab03.png" class="img-responsive" alt="...">
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="f4"> <!-- feature #4 content -->
                            <h4>Mobile Application</h4>
                            <p>Vel donec et scelerisque vestibulum. Condimentum aliquam, mollit magna velit nec, tempor
                                cursus vitae sit aliquet neque purus. Ultrices lacus proin conubia dictum tempus, tempor
                                pede vitae faucibus, sem auctor, molestie diam dictum aliquam. Dolor leo, ridiculus est
                                ut cubilia nec, fermentum arcu praesent.</p>
                            <img src="img/tab04.png" class="img-responsive" alt="...">
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="f5"> <!-- feature #5 content -->
                            <h4>Relaible Company Analysis</h4>
                            <p>Vel donec et scelerisque vestibulum. Condimentum aliquam, mollit magna velit nec, tempor
                                cursus vitae sit aliquet neque purus. Ultrices lacus proin conubia dictum tempus, tempor
                                pede vitae faucibus, sem auctor, molestie diam dictum aliquam. Dolor leo, ridiculus est
                                ut cubilia nec, fermentum arcu praesent.</p>
                            <img src="img/tab05.png" class="img-responsive" alt="...">
                        </div>
                    </div> <!-- end tab content wrapper -->
                </div><!-- end right content col 6 -->

            </div> <!-- end row -->
        </div> <!-- end container -->
    </div><!-- end fullwidth gray background -->
</div>


<!-- Services -->
<div class="services-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="service wow fadeInUp">
                    <div class="service-icon"><i class="fa fa-eye"></i></div>
                    <h3>Beautiful Websites</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et...</p>

                </div>
            </div>
            <div class="col-sm-3">
                <div class="service wow fadeInDown">
                    <div class="service-icon"><i class="fa fa-table"></i></div>
                    <h3>Responsive Layout</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et...</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="service wow fadeInUp">
                    <div class="service-icon"><i class="fa fa-magic"></i></div>
                    <h3>Awesome Logos</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et...</p>

                </div>
            </div>
            <div class="col-sm-3">
                <div class="service wow fadeInDown">
                    <div class="service-icon"><i class="fa fa-print"></i></div>
                    <h3>High Res Prints</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et...</p>

                </div>
            </div>
        </div>
    </div>
</div>
    <!-- Contact Section
   ================================================== -->
    <div class="page-title-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 wow fadeIn">
                    <i class="fa fa-envelope"></i>
                    <h1>Contact</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="contact-us-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-7 contact-form wow fadeInLeft">
                    <p>
                        N’hésitez pas a nous écrire pour plus d’information ou de suggestions.	                    </p>
                    <form role="form" action="{{asset('assets/sendmail.php')}}" method="post">
                        <div class="form-group">
                            <label for="contact-name">Nom</label>
                            <input type="text" name="name" placeholder="Votre nom..." class="contact-name" id="contact-name">
                        </div>
                        <div class="form-group">
                            <label for="contact-email">Email</label>
                            <input type="text" name="email" placeholder="Votre email..." class="contact-email" id="contact-email">
                        </div>
                        <div class="form-group">
                            <label for="contact-subject">Sujet</label>
                            <input type="text" name="subject" placeholder="Votre sujet..." class="contact-subject" id="contact-subject">
                        </div>
                        <div class="form-group">
                            <label for="contact-message">Message</label>
                            <textarea name="message" placeholder="Votre message..." class="contact-message" id="contact-message"></textarea>
                        </div>
                        <button type="submit" class="btn">Envoyer</button>
                    </form>
                </div>
                <div class="col-sm-5 contact-address wow fadeInUp">
                    <h3>On est la</h3>
                    <div class="map"></div>
                    <h3>Adresse</h3>
                    <p>Université Lyon 2<br> 69800, Bron, France</p>
                    <p>Tél: 06 50 12 59 74</p>
                </div>
            </div>
        </div>
    </div>
{%  endblock %}