{% extends "::layout.html.twig" %}
{%  block title %}
    {{ parent() }} - {{ evenement.nom}}
{% endblock %}
{%  block contenu %}
    <div class="content">
    <h1>{{ evenement.nom }}</h1>
        {% if isParticipant %}
            Vous participez à l'événement
            {%  else %}
<a href="{{ path('participe_add',{'id':evenement.id}) }}">Participer</a>
                {% endif %}
    </div>
{%  endblock %}