{% extends "::layout.html.twig" %}
{%  block titre %}
    Administration
{% endblock %}
{% block contenu %}
<h1>Administration</h1>
    <div class="administration">
        <div class="adm-list"><a href=""> Bons Plans</a></div>
    <div class="adm-list"> <a href="/lieux-manage"> Lieux</a></div>
    </div>
{% endblock %}